# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Seth D'Agostino
- Mikaila Keyes
- Jeffrey Chiu
- J. Cole

# Group Members IDs

- A13651408
- A14066254
- A12950096
- A########

# Research Question

We aim to explore how the socio-economic factors of a country (GDP, GDP per capita, HDI, etc.) may contribute to the rates of suicide mortality, engaging first with the assumption that economically underdeveloped nations will have higher rates.

## Background and Prior Work

According to the WHO, there are around 800,000 suicides across the world annually, which, if averaged, translates to one lost soul every 40 seconds (1). Astonishingly,  globally among people from 15 to 29 years old, suicide is the second leading cause of death (1). These simple, yet alarming statistics not only reveals a grim reality of the world we live in but also highlights the importance of this project. 

Death by suicide affects people across all spectrums of society. As a characteristic of modern society, no individual of a community is immune from suicide regardless of his or her culture, religion, economy, age, sex, or race. The pervasiveness of suicide could complicate the nature of suicide, but could be untangled by examining suicide against specific variables to identify correlations. Our datasets contain data for various countries across 1985-2016 about suicide rates amongst, age, and generation along with the GDP, GDP per capita, and HDI of the corresponding years. It might be helping in understanding any correlations between the economic development and/or growth of a nation and its national suicide rate. 

Group 021 from winter 2018 looked specifically at the suicide rates among veterans. The result of their study concluded that median threshold income, and not unemployment,  has a strong correlation with the veteran suicide rate. Instead of looking at suicide at a community level in America, we aim to examine suicide at a global scale.  

References (include links):
- 1) Suicide data. (2018, November 05). Retrieved from https://www.who.int/mental_health/prevention/suicide/suicideprevent/en/
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [38]:
# Display plots directly in the notebook instead of in a new window
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Wrangling

In [39]:
rates_85_16 = pd.read_csv("data/suicide-rates-overview-1985-to-2016.csv")
who_rate_by_country = pd.read_csv("data/WHO_suicide_mortality_by_country.csv")
who_country_metadata = pd.read_csv("data/WHO_country_metadata.csv")
print(rates_85_16)
print(who_rate_by_country)
print(who_country_metadata)

          country  year     sex          age  suicides_no  population  \
0         Albania  1987    male  15-24 years           21      312900
1         Albania  1987    male  35-54 years           16      308000
2         Albania  1987  female  15-24 years           14      289700
3         Albania  1987    male    75+ years            1       21800
4         Albania  1987    male  25-34 years            9      274300
5         Albania  1987  female    75+ years            1       35600
6         Albania  1987  female  35-54 years            6      278800
7         Albania  1987  female  25-34 years            4      257200
8         Albania  1987    male  55-74 years            1      137500
9         Albania  1987  female   5-14 years            0      311000
10        Albania  1987  female  55-74 years            0      144600
11        Albania  1987    male   5-14 years            0      338200
12        Albania  1988  female    75+ years            2       36400
13        Albania  1988    male  15-24 years           17      319200
14        Albania  1988    male    75+ years            1       22300
15        Albania  1988    male  35-54 years           14      314100
16        Albania  1988    male  55-74 years            4      140200
17        Albania  1988  female  15-24 years            8      295600
18        Albania  1988  female  55-74 years            3      147500
19        Albania  1988  female  25-34 years            5      262400
20        Albania  1988    male  25-34 years            5      279900
21        Albania  1988  female  35-54 years            4      284500
22        Albania  1988  female   5-14 years            0      317200
23        Albania  1988    male   5-14 years            0      345000
24        Albania  1989    male    75+ years            2       22500
25        Albania  1989    male  25-34 years           18      283600
26        Albania  1989    male  35-54 years           15      318400
27        Albania  1989    male  55-74 years            6      142100
28        Albania  1989    male  15-24 years           12      323500
29        Albania  1989  female  35-54 years            7      288600
...           ...   ...     ...          ...          ...         ...
27790  Uzbekistan  2012  female  25-34 years          148     2556673
27791  Uzbekistan  2012  female  35-54 years           89     3474788
27792  Uzbekistan  2012    male   5-14 years           67     2701361
27793  Uzbekistan  2012  female  55-74 years           25     1283060
27794  Uzbekistan  2012  female    75+ years            4      338557
27795  Uzbekistan  2012  female   5-14 years           16     2578408
27796  Uzbekistan  2013    male  35-54 years          481     3346411
27797  Uzbekistan  2013    male  25-34 years          328     2644648
27798  Uzbekistan  2013  female  15-24 years          323     3039740
27799  Uzbekistan  2013    male  15-24 years          320     3171202
27800  Uzbekistan  2013    male  55-74 years          119     1202790
27801  Uzbekistan  2013    male    75+ years           13      221002
27802  Uzbekistan  2013  female  25-34 years          146     2647820
27803  Uzbekistan  2013  female  35-54 years           99     3547895
27804  Uzbekistan  2013  female    75+ years            8      345180
27805  Uzbekistan  2013    male   5-14 years           61     2720938
27806  Uzbekistan  2013  female  55-74 years           21     1356298
27807  Uzbekistan  2013  female   5-14 years           31     2595000
27808  Uzbekistan  2014    male  35-54 years          519     3421300
27809  Uzbekistan  2014    male  25-34 years          318     2739150
27810  Uzbekistan  2014  female  15-24 years          347     2992817
27811  Uzbekistan  2014    male  55-74 years          144     1271111
27812  Uzbekistan  2014    male  15-24 years          347     3126905
27813  Uzbekistan  2014    male    75+ years           17      224995
27814  Uzbekistan  2014  female  25-34 years          162     2735238
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year  gdp_for_year ($)   \
0                   6.71     Albania1987           NaN      2,156,624,900
1                   5.19     Albania1987           NaN      2,156,624,900
2                   4.83     Albania1987           NaN      2,156,624,900
3                   4.59     Albania1987           NaN      2,156,624,900
4                   3.28     Albania1987           NaN      2,156,624,900
5                   2.81     Albania1987           NaN      2,156,624,900
6                   2.15     Albania1987           NaN      2,156,624,900
7                   1.56     Albania1987           NaN      2,156,624,900
8                   0.73     Albania1987           NaN      2,156,624,900
9                   0.00     Albania1987           NaN      2,156,624,900
10                  0.00     Albania1987           NaN      2,156,624,900
11                  0.00     Albania1987           NaN      2,156,624,900
12                  5.49     Albania1988           NaN      2,126,000,000
13                  5.33     Albania1988           NaN      2,126,000,000
14                  4.48     Albania1988           NaN      2,126,000,000
15                  4.46     Albania1988           NaN      2,126,000,000
16                  2.85     Albania1988           NaN      2,126,000,000
17                  2.71     Albania1988           NaN      2,126,000,000
18                  2.03     Albania1988           NaN      2,126,000,000
19                  1.91     Albania1988           NaN      2,126,000,000
20                  1.79     Albania1988           NaN      2,126,000,000
21                  1.41     Albania1988           NaN      2,126,000,000
22                  0.00     Albania1988           NaN      2,126,000,000
23                  0.00     Albania1988           NaN      2,126,000,000
24                  8.89     Albania1989           NaN      2,335,124,988
25                  6.35     Albania1989           NaN      2,335,124,988
26                  4.71     Albania1989           NaN      2,335,124,988
27                  4.22     Albania1989           NaN      2,335,124,988
28                  3.71     Albania1989           NaN      2,335,124,988
29                  2.43     Albania1989           NaN      2,335,124,988
...                  ...             ...           ...                ...
27790               5.79  Uzbekistan2012         0.668     51,821,573,338
27791               2.56  Uzbekistan2012         0.668     51,821,573,338
27792               2.48  Uzbekistan2012         0.668     51,821,573,338
27793               1.95  Uzbekistan2012         0.668     51,821,573,338
27794               1.18  Uzbekistan2012         0.668     51,821,573,338
27795               0.62  Uzbekistan2012         0.668     51,821,573,338
27796              14.37  Uzbekistan2013         0.672     57,690,453,461
27797              12.40  Uzbekistan2013         0.672     57,690,453,461
27798              10.63  Uzbekistan2013         0.672     57,690,453,461
27799              10.09  Uzbekistan2013         0.672     57,690,453,461
27800               9.89  Uzbekistan2013         0.672     57,690,453,461
27801               5.88  Uzbekistan2013         0.672     57,690,453,461
27802               5.51  Uzbekistan2013         0.672     57,690,453,461
27803               2.79  Uzbekistan2013         0.672     57,690,453,461
27804               2.32  Uzbekistan2013         0.672     57,690,453,461
27805               2.24  Uzbekistan2013         0.672     57,690,453,461
27806               1.55  Uzbekistan2013         0.672     57,690,453,461
27807               1.19  Uzbekistan2013         0.672     57,690,453,461
27808              15.17  Uzbekistan2014         0.675     63,067,077,179
27809              11.61  Uzbekistan2014         0.675     63,067,077,179
27810              11.59  Uzbekistan2014         0.675     63,067,077,179
27811              11.33  Uzbekistan2014         0.675     63,067,077,179
27812              11.10  Uzbekistan2014         0.675     63,067,077,179
27813               7.56  Uzbekistan2014         0.675     63,067,077,179
27814               5.92  Uzbekistan2014         0.675     63,067,077,179
27815               2.96  Uzbekistan2014         0.675     63,067,077,179
27816               2.58  Uzbekistan2014         0.675     63,067,077,179
27817               2.17  Uzbekistan2014         0.675     63,067,077,179
27818               1.67  Uzbekistan2014         0.675     63,067,077,179
27819               1.46  Uzbekistan2014         0.675     63,067,077,179

       gdp_per_capita ($)       generation
0                     796     Generation X
1                     796           Silent
2                     796     Generation X
3                     796  G.I. Generation
4                     796          Boomers
5                     796  G.I. Generation
6                     796           Silent
7                     796          Boomers
8                     796  G.I. Generation
9                     796     Generation X
10                    796  G.I. Generation
11                    796     Generation X
12                    769  G.I. Generation
13                    769     Generation X
14                    769  G.I. Generation
15                    769           Silent
16                    769  G.I. Generation
17                    769     Generation X
18                    769  G.I. Generation
19                    769          Boomers
20                    769          Boomers
21                    769           Silent
22                    769     Generation X
23                    769     Generation X
24                    833  G.I. Generation
25                    833          Boomers
26                    833           Silent
27                    833  G.I. Generation
28                    833     Generation X
29                    833           Silent
...                   ...              ...
27790                1964       Millenials
27791                1964     Generation X
27792                1964     Generation Z
27793                1964          Boomers
27794                1964           Silent
27795                1964     Generation Z
27796                2150     Generation X
27797                2150       Millenials
27798                2150       Millenials
27799                2150       Millenials
27800                2150          Boomers
27801                2150           Silent
27802                2150       Millenials
27803                2150     Generation X
27804                2150           Silent
27805                2150     Generation Z
27806                2150          Boomers
27807                2150     Generation Z
27808                2309     Generation X
27809                2309       Millenials
27810                2309       Millenials
27811                2309          Boomers
27812                2309       Millenials
27813                2309           Silent
27814                2309       Millenials
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[27820 rows x 12 columns]
                                          Country Name Country Code  \
0                                                Aruba          ABW
1                                          Afghanistan          AFG
2                                               Angola          AGO
3                                              Albania          ALB
4                                              Andorra          AND
5                                           Arab World          ARB
6                                 United Arab Emirates          ARE
7                                            Argentina          ARG
8                                              Armenia          ARM
9                                       American Samoa          ASM
10                                 Antigua and Barbuda          ATG
11                                           Australia          AUS
12                                             Austria          AUT
13                                          Azerbaijan          AZE
14                                             Burundi          BDI
15                                             Belgium          BEL
16                                               Benin          BEN
17                                        Burkina Faso          BFA
18                                          Bangladesh          BGD
19                                            Bulgaria          BGR
20                                             Bahrain          BHR
21                                        Bahamas, The          BHS
22                              Bosnia and Herzegovina          BIH
23                                             Belarus          BLR
24                                              Belize          BLZ
25                                             Bermuda          BMU
26                                             Bolivia          BOL
27                                              Brazil          BRA
28                                            Barbados          BRB
29                                   Brunei Darussalam          BRN
..                                                 ...          ...
234  Latin America & the Caribbean (IDA & IBRD coun...          TLA
235                                        Timor-Leste          TLS
236  Middle East & North Africa (IDA & IBRD countries)          TMN
237                                              Tonga          TON
238                            South Asia (IDA & IBRD)          TSA
239          Sub-Saharan Africa (IDA & IBRD countries)          TSS
240                                Trinidad and Tobago          TTO
241                                            Tunisia          TUN
242                                             Turkey          TUR
243                                             Tuvalu          TUV
244                                           Tanzania          TZA
245                                             Uganda          UGA
246                                            Ukraine          UKR
247                                Upper middle income          UMC
248                                            Uruguay          URY
249                                      United States          USA
250                                         Uzbekistan          UZB
251                     St. Vincent and the Grenadines          VCT
252                                      Venezuela, RB          VEN
253                             British Virgin Islands          VGB
254                              Virgin Islands (U.S.)          VIR
255                                            Vietnam          VNM
256                                            Vanuatu          VUT
257                                              World          WLD
258                                              Samoa          WSM
259                                             Kosovo          XKX
260                                        Yemen, Rep.          YEM
261                                       South Africa          ZAF
262                                             Zambia          ZMB
263                                           Zimbabwe          ZWE

                                      Indicator Name  Indicator Code  1960  \
0    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
1    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
2    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
3    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
4    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
5    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
6    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
7    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
8    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
9    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
10   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
11   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
12   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
13   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
14   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
15   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
16   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
17   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
18   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
19   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
20   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
21   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
22   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
23   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
24   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
25   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
26   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
27   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
28   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
29   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
..                                               ...             ...   ...
234  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
235  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
236  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
237  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
238  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
239  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
240  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
241  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
242  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
243  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
244  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
245  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
246  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
247  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
248  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
249  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
250  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
251  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
252  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
253  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
254  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
255  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
256  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN

# Data Cleaning

__rates_85_16:__  
- Got rid of country-year column of rates_85_16 because there is already a country and a year column

In [40]:
rates_85_16 = rates_85_16.drop(columns=['country-year'])
rates_85_16

,country,year,sex,age,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,NaN,"2,335,124,988",833,Silent
...,...,...,...,...,...,...,...,...,...,...,...
27790,Uzbekistan,2012,female,25-34 years,148,2556673,5.79,0.668,"51,821,573,338",1964,Millenials
27791,Uzbekistan,2012,female,35-54 years,89,3474788,2.56,0.668,"51,821,573,338",1964,Generation X
27792,Uzbekistan,2012,male,5-14 years,67,2701361,2.48,0.668,"51,821,573,338",1964,Generation Z
27793,Uzbekistan,2012,female,55-74 years,25,1283060,1.95,0.668,"51,821,573,338",1964,Boomers
27794,Uzbekistan,2012,female,75+ years,4,338557,1.18,0.668,"51,821,573,338",1964,Silent
27795,Uzbekistan,2012,female,5-14 years,16,2578408,0.62,0.668,"51,821,573,338",1964,Generation Z
27796,Uzbekistan,2013,male,35-54 years,481,3346411,14.37,0.672,"57,690,453,461",2150,Generation X
27797,Uzbekistan,2013,male,25-34 years,328,2644648,12.40,0.672,"57,690,453,461",2150,Millenials
27798,Uzbekistan,2013,female,15-24 years,323,3039740,10.63,0.672,"57,690,453,461",2150,Millenials
27799,Uzbekistan,2013,male,15-24 years,320,3171202,10.09,0.672,"57,690,453,461",2150,Millenials
27800,Uzbekistan,2013,male,55-74 years,119,1202790,9.89,0.672,"57,690,453,461",2150,Boomers
27801,Uzbekistan,2013,male,75+ years,13,221002,5.88,0.672,"57,690,453,461",2150,Silent
27802,Uzbekistan,2013,female,25-34 years,146,2647820,5.51,0.672,"57,690,453,461",2150,Millenials
27803,Uzbekistan,2013,female,35-54 years,99,3547895,2.79,0.672,"57,690,453,461",2150,Generation X
27804,Uzbekistan,2013,female,75+ years,8,345180,2.32,0.672,"57,690,453,461",2150,Silent
27805,Uzbekistan,2013,male,5-14 years,61,2720938,2.24,0.672,"57,690,453,461",2150,Generation Z
27806,Uzbekistan,2013,female,55-74 years,21,1356298,1.55,0.672,"57,690,453,461",2150,Boomers
27807,Uzbekistan,2013,female,5-14 years,31,2595000,1.19,0.672,"57,690,453,461",2150,Generation Z
27808,Uzbekistan,2014,male,35-54 years,519,3421300,15.17,0.675,"63,067,077,179",2309,Generation X
27809,Uzbekistan,2014,male,25-34 years,318,2739150,11.61,0.675,"63,067,077,179",2309,Millenials
27810,Uzbekistan,2014,female,15-24 years,347,2992817,11.59,0.675,"63,067,077,179",2309,Millenials
27811,Uzbekistan,2014,male,55-74 years,144,1271111,11.33,0.675,"63,067,077,179",2309,Boomers
27812,Uzbekistan,2014,male,15-24 years,347,3126905,11.10,0.675,"63,067,077,179",2309,Millenials
27813,Uzbekistan,2014,male,75+ years,17,224995,7.56,0.675,"63,067,077,179",2309,Silent
27814,Uzbekistan,2014,female,25-34 years,162,2735238,5.92,0.675,"63,067,077,179",2309,Millenials
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,0.675,"63,067,077,179",2309,Boomers

__who_rate_by_country:__ 
- Got rid of the indicator name and code columns that contained the same information for the whole column.
- Extracted only the 2000, 2005, 2010, 2015, and 2016 columns since all the others are blank

In [41]:
who_rate_by_country = who_rate_by_country[['Country Name','Country Code', '2000', '2005', '2010', '2015', '2016']]
who_rate_by_country

,Country Name,Country Code,2000,2005,2010,2015,2016
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,5.700000,6.300000,5.100000,4.800000,4.700000
2,Angola,AGO,7.900000,7.200000,5.700000,5.000000,4.700000
3,Albania,ALB,5.500000,6.700000,7.800000,6.000000,6.300000
4,Andorra,AND,NaN,NaN,NaN,NaN,NaN
5,Arab World,ARB,4.328195,4.312462,4.206429,4.202179,4.266082
6,United Arab Emirates,ARE,3.200000,3.100000,3.000000,2.800000,2.800000
7,Argentina,ARG,9.500000,9.000000,8.700000,8.800000,9.200000
8,Armenia,ARM,3.300000,4.400000,6.000000,7.000000,6.600000
9,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN
10,Antigua and Barbuda,ATG,2.000000,1.200000,0.300000,0.800000,0.500000
11,Australia,AUS,13.200000,12.300000,12.500000,13.800000,13.200000
12,Austria,AUT,20.000000,17.300000,16.000000,16.000000,15.600000
13,Azerbaijan,AZE,2.200000,3.200000,3.100000,2.700000,2.600000
14,Burundi,BDI,7.100000,8.400000,9.000000,8.900000,9.100000
15,Belgium,BEL,22.700000,21.200000,21.300000,20.100000,20.700000
16,Benin,BEN,9.500000,9.700000,9.600000,9.900000,9.900000
17,Burkina Faso,BFA,8.200000,7.600000,7.500000,7.700000,7.700000
18,Bangladesh,BGD,6.700000,6.300000,6.400000,6.100000,5.900000
19,Bulgaria,BGR,18.500000,13.400000,12.500000,11.400000,11.500000
20,Bahrain,BHR,6.700000,7.000000,5.200000,5.900000,5.900000
21,"Bahamas, The",BHS,2.000000,2.200000,2.000000,1.800000,1.700000
22,Bosnia and Herzegovina,BIH,10.700000,9.300000,8.000000,8.900000,8.800000
23,Belarus,BLR,43.100000,45.100000,38.200000,26.300000,26.200000
24,Belize,BLZ,5.500000,4.900000,4.900000,4.800000,4.700000
25,Bermuda,BMU,NaN,NaN,NaN,NaN,NaN
26,Bolivia,BOL,16.400000,15.300000,14.100000,12.400000,12.200000
27,Brazil,BRA,4.800000,5.500000,5.700000,6.500000,6.500000
28,Barbados,BRB,2.100000,3.700000,2.100000,0.700000,0.800000
29,Brunei Darussalam,BRN,2.800000,3.300000,3.700000,4.500000,4.600000
...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,6.211615,6.312417,6.379262,6.986010,6.722966
235,Timor-Leste,TLS,9.300000,6.200000,5.300000,4.600000,4.600000
236,Middle East & North Africa (IDA & IBRD countries),TMN,5.629819,5.506007,4.454527,3.850060,3.928512
237,Tonga,TON,3.600000,3.400000,3.600000,3.500000,3.500000
238,South Asia (IDA & IBRD),TSA,14.931979,14.885805,13.882296,13.688308,13.498277
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,8.464935,8.039681,7.753084,7.565856,7.535544
240,Trinidad and Tobago,TTO,14.900000,12.300000,14.500000,13.600000,13.600000
241,Tunisia,TUN,3.500000,3.600000,3.600000,3.400000,3.400000
242,Turkey,TUR,7.200000,7.600000,8.400000,7.300000,7.300000
243,Tuvalu,TUV,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,6.900000,5.500000,5.300000,5.400000,5.400000
245,Uganda,UGA,11.100000,10.500000,10.500000,9.900000,9.900000
246,Ukraine,UKR,36.900000,34.500000,27.100000,23.100000,22.400000
247,Upper middle income,UMC,13.969001,12.803705,11.406880,10.048901,9.927658
248,Uruguay,URY,17.400000,15.300000,16.600000,19.400000,18.400000
249,United States,USA,11.300000,11.900000,13.200000,15.000000,15.300000
250,Uzbekistan,UZB,7.600000,5.800000,6.000000,7.400000,7.400000
251,St. Vincent and the Grenadines,VCT,6.300000,9.900000,3.300000,2.700000,2.400000
252,"Venezuela, RB",VEN,8.000000,5.900000,4.300000,3.800000,3.700000
253,British Virgin Islands,VGB,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,NaN,NaN
255,Vietnam,VNM,6.700000,6.700000,7.000000,7.200000,7.300000
256,Vanuatu,VUT,7.300000,5.700000,5.100000,4.500000,4.500000
257,World,WLD,12.870004,12.310161,11.473585,10.746105,10.633370
258,Samoa,WSM,8.300000,6.500000,5.000000,4.500000,4.400000
259,Kosovo,XKX,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,6.800000,8.100000,8.800000,8.600000,8.500000
261,South Africa,ZAF,11.600000,11.800000,12.200000,11.800000,11.600000
262,Zambia,ZMB,8.100000,6.500000,6.300000,6.100000,6.100000
263,Zimbabwe,ZWE,12.900000,13.900000,11.900000,10.600000,10.700000

__who_country_metadata:__
- Drop special notes columns
- Drop an empty Unnamed:5 column

In [42]:
who_country_metadata = who_country_metadata.drop(columns=['SpecialNotes'])
who_country_metadata = who_country_metadata.iloc[:,0:4]
who_country_metadata

,Country Code,Region,IncomeGroup,TableName
0,ABW,Latin America & Caribbean,High income,Aruba
1,AFG,South Asia,Low income,Afghanistan
2,AGO,Sub-Saharan Africa,Lower middle income,Angola
3,ALB,Europe & Central Asia,Upper middle income,Albania
4,AND,Europe & Central Asia,High income,Andorra
5,ARB,NaN,NaN,Arab World
6,ARE,Middle East & North Africa,High income,United Arab Emirates
7,ARG,Latin America & Caribbean,High income,Argentina
8,ARM,Europe & Central Asia,Upper middle income,Armenia
9,ASM,East Asia & Pacific,Upper middle income,American Samoa
10,ATG,Latin America & Caribbean,High income,Antigua and Barbuda
11,AUS,East Asia & Pacific,High income,Australia
12,AUT,Europe & Central Asia,High income,Austria
13,AZE,Europe & Central Asia,Upper middle income,Azerbaijan
14,BDI,Sub-Saharan Africa,Low income,Burundi
15,BEL,Europe & Central Asia,High income,Belgium
16,BEN,Sub-Saharan Africa,Low income,Benin
17,BFA,Sub-Saharan Africa,Low income,Burkina Faso
18,BGD,South Asia,Lower middle income,Bangladesh
19,BGR,Europe & Central Asia,Upper middle income,Bulgaria
20,BHR,Middle East & North Africa,High income,Bahrain
21,BHS,Latin America & Caribbean,High income,"Bahamas, The"
22,BIH,Europe & Central Asia,Upper middle income,Bosnia and Herzegovina
23,BLR,Europe & Central Asia,Upper middle income,Belarus
24,BLZ,Latin America & Caribbean,Upper middle income,Belize
25,BMU,North America,High income,Bermuda
26,BOL,Latin America & Caribbean,Lower middle income,Bolivia
27,BRA,Latin America & Caribbean,Upper middle income,Brazil
28,BRB,Latin America & Caribbean,High income,Barbados
29,BRN,East Asia & Pacific,High income,Brunei Darussalam
...,...,...,...,...
233,TLA,NaN,NaN,Latin America & Caribbean (IDA & IBRD)
234,TLS,East Asia & Pacific,Lower middle income,Timor-Leste
235,TMN,NaN,NaN,Middle East & North Africa (IDA & IBRD)
236,TON,East Asia & Pacific,Upper middle income,Tonga
237,TSA,NaN,NaN,South Asia (IDA & IBRD)
238,TSS,NaN,NaN,Sub-Saharan Africa (IDA & IBRD)
239,TTO,Latin America & Caribbean,High income,Trinidad and Tobago
240,TUN,Middle East & North Africa,Lower middle income,Tunisia
241,TUR,Europe & Central Asia,Upper middle income,Turkey
242,TUV,East Asia & Pacific,Upper middle income,Tuvalu
243,TZA,Sub-Saharan Africa,Low income,Tanzania
244,UGA,Sub-Saharan Africa,Low income,Uganda
245,UKR,Europe & Central Asia,Lower middle income,Ukraine
246,UMC,NaN,NaN,Upper middle income
247,URY,Latin America & Caribbean,High income,Uruguay
248,USA,North America,High income,United States
249,UZB,Europe & Central Asia,Lower middle income,Uzbekistan
250,VCT,Latin America & Caribbean,Upper middle income,St. Vincent and the Grenadines
251,VEN,Latin America & Caribbean,Upper middle income,"Venezuela, RB"
252,VGB,Latin America & Caribbean,High income,British Virgin Islands
253,VIR,Latin America & Caribbean,High income,Virgin Islands (U.S.)
254,VNM,East Asia & Pacific,Lower middle income,Vietnam
255,VUT,East Asia & Pacific,Lower middle income,Vanuatu
256,WLD,NaN,NaN,World
257,WSM,East Asia & Pacific,Upper middle income,Samoa
258,XKX,Europe & Central Asia,Lower middle income,Kosovo
259,YEM,Middle East & North Africa,Low income,"Yemen, Rep."
260,ZAF,Sub-Saharan Africa,Upper middle income,South Africa
261,ZMB,Sub-Saharan Africa,Lower middle income,Zambia
262,ZWE,Sub-Saharan Africa,Low income,Zimbabwe

- Merge who_rate_by_country and who_country_metadata by country Code
- Get rid of TableName column cuz it's just the same as Country Name
- Drop rows with Nan

In [46]:
who_rates_by_country = pd.merge(who_rate_by_country, who_country_metadata, on="Country Code")
who_rates_by_country = who_rates_by_country.drop(columns=['TableName'])
who_rates_by_country = who_rates_by_country.dropna()
who_rates_by_country

,Country Name,Country Code,2000,2005,2010,2015,2016,Region,IncomeGroup
1,Afghanistan,AFG,5.7,6.3,5.1,4.8,4.7,South Asia,Low income
2,Angola,AGO,7.9,7.2,5.7,5.0,4.7,Sub-Saharan Africa,Lower middle income
3,Albania,ALB,5.5,6.7,7.8,6.0,6.3,Europe & Central Asia,Upper middle income
6,United Arab Emirates,ARE,3.2,3.1,3.0,2.8,2.8,Middle East & North Africa,High income
7,Argentina,ARG,9.5,9.0,8.7,8.8,9.2,Latin America & Caribbean,High income
8,Armenia,ARM,3.3,4.4,6.0,7.0,6.6,Europe & Central Asia,Upper middle income
10,Antigua and Barbuda,ATG,2.0,1.2,0.3,0.8,0.5,Latin America & Caribbean,High income
11,Australia,AUS,13.2,12.3,12.5,13.8,13.2,East Asia & Pacific,High income
12,Austria,AUT,20.0,17.3,16.0,16.0,15.6,Europe & Central Asia,High income
13,Azerbaijan,AZE,2.2,3.2,3.1,2.7,2.6,Europe & Central Asia,Upper middle income
14,Burundi,BDI,7.1,8.4,9.0,8.9,9.1,Sub-Saharan Africa,Low income
15,Belgium,BEL,22.7,21.2,21.3,20.1,20.7,Europe & Central Asia,High income
16,Benin,BEN,9.5,9.7,9.6,9.9,9.9,Sub-Saharan Africa,Low income
17,Burkina Faso,BFA,8.2,7.6,7.5,7.7,7.7,Sub-Saharan Africa,Low income
18,Bangladesh,BGD,6.7,6.3,6.4,6.1,5.9,South Asia,Lower middle income
19,Bulgaria,BGR,18.5,13.4,12.5,11.4,11.5,Europe & Central Asia,Upper middle income
20,Bahrain,BHR,6.7,7.0,5.2,5.9,5.9,Middle East & North Africa,High income
21,"Bahamas, The",BHS,2.0,2.2,2.0,1.8,1.7,Latin America & Caribbean,High income
22,Bosnia and Herzegovina,BIH,10.7,9.3,8.0,8.9,8.8,Europe & Central Asia,Upper middle income
23,Belarus,BLR,43.1,45.1,38.2,26.3,26.2,Europe & Central Asia,Upper middle income
24,Belize,BLZ,5.5,4.9,4.9,4.8,4.7,Latin America & Caribbean,Upper middle income
26,Bolivia,BOL,16.4,15.3,14.1,12.4,12.2,Latin America & Caribbean,Lower middle income
27,Brazil,BRA,4.8,5.5,5.7,6.5,6.5,Latin America & Caribbean,Upper middle income
28,Barbados,BRB,2.1,3.7,2.1,0.7,0.8,Latin America & Caribbean,High income
29,Brunei Darussalam,BRN,2.8,3.3,3.7,4.5,4.6,East Asia & Pacific,High income
30,Bhutan,BTN,12.4,12.2,11.1,11.6,11.4,South Asia,Lower middle income
31,Botswana,BWA,11.8,12.6,11.1,9.7,9.3,Sub-Saharan Africa,Upper middle income
32,Central African Republic,CAF,8.8,8.8,9.5,8.1,7.7,Sub-Saharan Africa,Low income
33,Canada,CAN,13.0,13.2,13.0,12.5,12.5,North America,High income
35,Switzerland,CHE,21.8,20.8,16.2,17.1,17.2,Europe & Central Asia,High income
...,...,...,...,...,...,...,...,...,...
219,Slovenia,SVN,32.4,27.1,20.7,21.0,18.6,Europe & Central Asia,High income
220,Sweden,SWE,15.6,16.4,15.3,15.7,14.8,Europe & Central Asia,High income
221,Eswatini,SWZ,11.6,12.0,11.9,13.1,13.3,Sub-Saharan Africa,Lower middle income
223,Seychelles,SYC,8.7,9.1,9.4,9.4,9.3,Sub-Saharan Africa,High income
224,Syrian Arab Republic,SYR,1.3,1.6,1.9,1.9,1.9,Middle East & North Africa,Low income
226,Chad,TCD,8.0,8.5,8.7,8.9,8.8,Sub-Saharan Africa,Low income
229,Togo,TGO,9.6,9.9,9.5,9.4,9.6,Sub-Saharan Africa,Low income
230,Thailand,THA,16.2,12.7,14.3,14.6,14.4,East Asia & Pacific,Upper middle income
231,Tajikistan,TJK,3.0,2.9,2.5,2.5,2.5,Europe & Central Asia,Low income
232,Turkmenistan,TKM,9.1,11.7,7.6,7.2,6.7,Europe & Central Asia,Upper middle income
234,Timor-Leste,TLS,9.3,6.2,5.3,4.6,4.6,East Asia & Pacific,Lower middle income
236,Tonga,TON,3.6,3.4,3.6,3.5,3.5,East Asia & Pacific,Upper middle income
239,Trinidad and Tobago,TTO,14.9,12.3,14.5,13.6,13.6,Latin America & Caribbean,High income
240,Tunisia,TUN,3.5,3.6,3.6,3.4,3.4,Middle East & North Africa,Lower middle income
241,Turkey,TUR,7.2,7.6,8.4,7.3,7.3,Europe & Central Asia,Upper middle income
243,Tanzania,TZA,6.9,5.5,5.3,5.4,5.4,Sub-Saharan Africa,Low income
244,Uganda,UGA,11.1,10.5,10.5,9.9,9.9,Sub-Saharan Africa,Low income
245,Ukraine,UKR,36.9,34.5,27.1,23.1,22.4,Europe & Central Asia,Lower middle income
247,Uruguay,URY,17.4,15.3,16.6,19.4,18.4,Latin America & Caribbean,High income
248,United States,USA,11.3,11.9,13.2,15.0,15.3,North America,High income
249,Uzbekistan,UZB,7.6,5.8,6.0,7.4,7.4,Europe & Central Asia,Lower middle income
250,St. Vincent and the Grenadines,VCT,6.3,9.9,3.3,2.7,2.4,Latin America & Caribbean,Upper middle income
251,"Venezuela, RB",VEN,8.0,5.9,4.3,3.8,3.7,Latin America & Caribbean,Upper middle income
254,Vietnam,VNM,6.7,6.7,7.0,7.2,7.3,East Asia & Pacific,Lower middle income
255,Vanuatu,VUT,7.3,5.7,5.1,4.5,4.5,East Asia & Pacific,Lower middle income
257,Samoa,WSM,8.3,6.5,5.0,4.5,4.4,East Asia & Pacific,Upper middle income
259,"Yemen, Rep.",YEM,6.8,8.1,8.8,8.6,8.5,Middle East & North Africa,Low income
260,South Africa,ZAF,11.6,11.8,12.2,11.8,11.6,Sub-Saharan Africa,Upper middle income
261,Zambia,ZMB,8.1,6.5,6.3,6.1,6.1,Sub-Saharan Africa,Lower middle income
262,Zimbabwe,ZWE,12.9,13.9,11.9,10.6,10.7,Sub-Saharan Africa,Low income

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*