# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Seth D'Agostino
- Miley Cyrus
- Sam Smith
- J. Cole

# Group Members IDs

- A13651408
- A########
- A########
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
# Display plots directly in the notebook instead of in a new window
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Wrangling

In [8]:
rates_85_16 = pd.read_csv("data/suicide-rates-overview-1985-to-2016.csv")
who_rate_by_country = pd.read_csv("data/WHO_suicide_mortality_by_country.csv")
who_country_metadata = pd.read_csv("data/WHO_country_metadata.csv")
print(rates_85_16)
print(who_rate_by_country)
print(who_country_metadata)

          country  year     sex          age  suicides_no  population  \
0         Albania  1987    male  15-24 years           21      312900
1         Albania  1987    male  35-54 years           16      308000
2         Albania  1987  female  15-24 years           14      289700
3         Albania  1987    male    75+ years            1       21800
4         Albania  1987    male  25-34 years            9      274300
5         Albania  1987  female    75+ years            1       35600
6         Albania  1987  female  35-54 years            6      278800
7         Albania  1987  female  25-34 years            4      257200
8         Albania  1987    male  55-74 years            1      137500
9         Albania  1987  female   5-14 years            0      311000
10        Albania  1987  female  55-74 years            0      144600
11        Albania  1987    male   5-14 years            0      338200
12        Albania  1988  female    75+ years            2       36400
13        Albania  1988    male  15-24 years           17      319200
14        Albania  1988    male    75+ years            1       22300
15        Albania  1988    male  35-54 years           14      314100
16        Albania  1988    male  55-74 years            4      140200
17        Albania  1988  female  15-24 years            8      295600
18        Albania  1988  female  55-74 years            3      147500
19        Albania  1988  female  25-34 years            5      262400
20        Albania  1988    male  25-34 years            5      279900
21        Albania  1988  female  35-54 years            4      284500
22        Albania  1988  female   5-14 years            0      317200
23        Albania  1988    male   5-14 years            0      345000
24        Albania  1989    male    75+ years            2       22500
25        Albania  1989    male  25-34 years           18      283600
26        Albania  1989    male  35-54 years           15      318400
27        Albania  1989    male  55-74 years            6      142100
28        Albania  1989    male  15-24 years           12      323500
29        Albania  1989  female  35-54 years            7      288600
...           ...   ...     ...          ...          ...         ...
27790  Uzbekistan  2012  female  25-34 years          148     2556673
27791  Uzbekistan  2012  female  35-54 years           89     3474788
27792  Uzbekistan  2012    male   5-14 years           67     2701361
27793  Uzbekistan  2012  female  55-74 years           25     1283060
27794  Uzbekistan  2012  female    75+ years            4      338557
27795  Uzbekistan  2012  female   5-14 years           16     2578408
27796  Uzbekistan  2013    male  35-54 years          481     3346411
27797  Uzbekistan  2013    male  25-34 years          328     2644648
27798  Uzbekistan  2013  female  15-24 years          323     3039740
27799  Uzbekistan  2013    male  15-24 years          320     3171202
27800  Uzbekistan  2013    male  55-74 years          119     1202790
27801  Uzbekistan  2013    male    75+ years           13      221002
27802  Uzbekistan  2013  female  25-34 years          146     2647820
27803  Uzbekistan  2013  female  35-54 years           99     3547895
27804  Uzbekistan  2013  female    75+ years            8      345180
27805  Uzbekistan  2013    male   5-14 years           61     2720938
27806  Uzbekistan  2013  female  55-74 years           21     1356298
27807  Uzbekistan  2013  female   5-14 years           31     2595000
27808  Uzbekistan  2014    male  35-54 years          519     3421300
27809  Uzbekistan  2014    male  25-34 years          318     2739150
27810  Uzbekistan  2014  female  15-24 years          347     2992817
27811  Uzbekistan  2014    male  55-74 years          144     1271111
27812  Uzbekistan  2014    male  15-24 years          347     3126905
27813  Uzbekistan  2014    male    75+ years           17      224995
27814  Uzbekistan  2014  female  25-34 years          162     2735238
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year  gdp_for_year ($)   \
0                   6.71     Albania1987           NaN      2,156,624,900
1                   5.19     Albania1987           NaN      2,156,624,900
2                   4.83     Albania1987           NaN      2,156,624,900
3                   4.59     Albania1987           NaN      2,156,624,900
4                   3.28     Albania1987           NaN      2,156,624,900
5                   2.81     Albania1987           NaN      2,156,624,900
6                   2.15     Albania1987           NaN      2,156,624,900
7                   1.56     Albania1987           NaN      2,156,624,900
8                   0.73     Albania1987           NaN      2,156,624,900
9                   0.00     Albania1987           NaN      2,156,624,900
10                  0.00     Albania1987           NaN      2,156,624,900
11                  0.00     Albania1987           NaN      2,156,624,900
12                  5.49     Albania1988           NaN      2,126,000,000
13                  5.33     Albania1988           NaN      2,126,000,000
14                  4.48     Albania1988           NaN      2,126,000,000
15                  4.46     Albania1988           NaN      2,126,000,000
16                  2.85     Albania1988           NaN      2,126,000,000
17                  2.71     Albania1988           NaN      2,126,000,000
18                  2.03     Albania1988           NaN      2,126,000,000
19                  1.91     Albania1988           NaN      2,126,000,000
20                  1.79     Albania1988           NaN      2,126,000,000
21                  1.41     Albania1988           NaN      2,126,000,000
22                  0.00     Albania1988           NaN      2,126,000,000
23                  0.00     Albania1988           NaN      2,126,000,000
24                  8.89     Albania1989           NaN      2,335,124,988
25                  6.35     Albania1989           NaN      2,335,124,988
26                  4.71     Albania1989           NaN      2,335,124,988
27                  4.22     Albania1989           NaN      2,335,124,988
28                  3.71     Albania1989           NaN      2,335,124,988
29                  2.43     Albania1989           NaN      2,335,124,988
...                  ...             ...           ...                ...
27790               5.79  Uzbekistan2012         0.668     51,821,573,338
27791               2.56  Uzbekistan2012         0.668     51,821,573,338
27792               2.48  Uzbekistan2012         0.668     51,821,573,338
27793               1.95  Uzbekistan2012         0.668     51,821,573,338
27794               1.18  Uzbekistan2012         0.668     51,821,573,338
27795               0.62  Uzbekistan2012         0.668     51,821,573,338
27796              14.37  Uzbekistan2013         0.672     57,690,453,461
27797              12.40  Uzbekistan2013         0.672     57,690,453,461
27798              10.63  Uzbekistan2013         0.672     57,690,453,461
27799              10.09  Uzbekistan2013         0.672     57,690,453,461
27800               9.89  Uzbekistan2013         0.672     57,690,453,461
27801               5.88  Uzbekistan2013         0.672     57,690,453,461
27802               5.51  Uzbekistan2013         0.672     57,690,453,461
27803               2.79  Uzbekistan2013         0.672     57,690,453,461
27804               2.32  Uzbekistan2013         0.672     57,690,453,461
27805               2.24  Uzbekistan2013         0.672     57,690,453,461
27806               1.55  Uzbekistan2013         0.672     57,690,453,461
27807               1.19  Uzbekistan2013         0.672     57,690,453,461
27808              15.17  Uzbekistan2014         0.675     63,067,077,179
27809              11.61  Uzbekistan2014         0.675     63,067,077,179
27810              11.59  Uzbekistan2014         0.675     63,067,077,179
27811              11.33  Uzbekistan2014         0.675     63,067,077,179
27812              11.10  Uzbekistan2014         0.675     63,067,077,179
27813               7.56  Uzbekistan2014         0.675     63,067,077,179
27814               5.92  Uzbekistan2014         0.675     63,067,077,179
27815               2.96  Uzbekistan2014         0.675     63,067,077,179
27816               2.58  Uzbekistan2014         0.675     63,067,077,179
27817               2.17  Uzbekistan2014         0.675     63,067,077,179
27818               1.67  Uzbekistan2014         0.675     63,067,077,179
27819               1.46  Uzbekistan2014         0.675     63,067,077,179

       gdp_per_capita ($)       generation
0                     796     Generation X
1                     796           Silent
2                     796     Generation X
3                     796  G.I. Generation
4                     796          Boomers
5                     796  G.I. Generation
6                     796           Silent
7                     796          Boomers
8                     796  G.I. Generation
9                     796     Generation X
10                    796  G.I. Generation
11                    796     Generation X
12                    769  G.I. Generation
13                    769     Generation X
14                    769  G.I. Generation
15                    769           Silent
16                    769  G.I. Generation
17                    769     Generation X
18                    769  G.I. Generation
19                    769          Boomers
20                    769          Boomers
21                    769           Silent
22                    769     Generation X
23                    769     Generation X
24                    833  G.I. Generation
25                    833          Boomers
26                    833           Silent
27                    833  G.I. Generation
28                    833     Generation X
29                    833           Silent
...                   ...              ...
27790                1964       Millenials
27791                1964     Generation X
27792                1964     Generation Z
27793                1964          Boomers
27794                1964           Silent
27795                1964     Generation Z
27796                2150     Generation X
27797                2150       Millenials
27798                2150       Millenials
27799                2150       Millenials
27800                2150          Boomers
27801                2150           Silent
27802                2150       Millenials
27803                2150     Generation X
27804                2150           Silent
27805                2150     Generation Z
27806                2150          Boomers
27807                2150     Generation Z
27808                2309     Generation X
27809                2309       Millenials
27810                2309       Millenials
27811                2309          Boomers
27812                2309       Millenials
27813                2309           Silent
27814                2309       Millenials
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[27820 rows x 12 columns]
                                          Country Name Country Code  \
0                                                Aruba          ABW
1                                          Afghanistan          AFG
2                                               Angola          AGO
3                                              Albania          ALB
4                                              Andorra          AND
5                                           Arab World          ARB
6                                 United Arab Emirates          ARE
7                                            Argentina          ARG
8                                              Armenia          ARM
9                                       American Samoa          ASM
10                                 Antigua and Barbuda          ATG
11                                           Australia          AUS
12                                             Austria          AUT
13                                          Azerbaijan          AZE
14                                             Burundi          BDI
15                                             Belgium          BEL
16                                               Benin          BEN
17                                        Burkina Faso          BFA
18                                          Bangladesh          BGD
19                                            Bulgaria          BGR
20                                             Bahrain          BHR
21                                        Bahamas, The          BHS
22                              Bosnia and Herzegovina          BIH
23                                             Belarus          BLR
24                                              Belize          BLZ
25                                             Bermuda          BMU
26                                             Bolivia          BOL
27                                              Brazil          BRA
28                                            Barbados          BRB
29                                   Brunei Darussalam          BRN
..                                                 ...          ...
234  Latin America & the Caribbean (IDA & IBRD coun...          TLA
235                                        Timor-Leste          TLS
236  Middle East & North Africa (IDA & IBRD countries)          TMN
237                                              Tonga          TON
238                            South Asia (IDA & IBRD)          TSA
239          Sub-Saharan Africa (IDA & IBRD countries)          TSS
240                                Trinidad and Tobago          TTO
241                                            Tunisia          TUN
242                                             Turkey          TUR
243                                             Tuvalu          TUV
244                                           Tanzania          TZA
245                                             Uganda          UGA
246                                            Ukraine          UKR
247                                Upper middle income          UMC
248                                            Uruguay          URY
249                                      United States          USA
250                                         Uzbekistan          UZB
251                     St. Vincent and the Grenadines          VCT
252                                      Venezuela, RB          VEN
253                             British Virgin Islands          VGB
254                              Virgin Islands (U.S.)          VIR
255                                            Vietnam          VNM
256                                            Vanuatu          VUT
257                                              World          WLD
258                                              Samoa          WSM
259                                             Kosovo          XKX
260                                        Yemen, Rep.          YEM
261                                       South Africa          ZAF
262                                             Zambia          ZMB
263                                           Zimbabwe          ZWE

                                      Indicator Name  Indicator Code  1960  \
0    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
1    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
2    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
3    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
4    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
5    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
6    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
7    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
8    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
9    Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
10   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
11   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
12   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
13   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
14   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
15   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
16   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
17   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
18   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
19   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
20   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
21   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
22   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
23   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
24   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
25   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
26   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
27   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
28   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
29   Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
..                                               ...             ...   ...
234  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
235  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
236  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
237  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
238  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
239  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
240  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
241  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
242  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
243  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
244  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
245  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
246  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
247  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
248  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
249  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
250  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
251  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
252  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
253  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
254  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
255  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN
256  Suicide mortality rate (per 100,000 population)  SH.STA.SUIC.P5   NaN

# Data Cleaning

Describe your data cleaning steps here.

In [4]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*